.trial {
  background-color: #fffbf2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.trial .div {
  background-color: #fffbf2;
  overflow: hidden;
  width: 1280px;
  height: 832px;
  position: relative;
}

.trial .overlap {
  position: absolute;
  width: 1236px;
  height: 803px;
  top: 19px;
  left: 24px;
}

.trial .subtract {
  position: absolute;
  width: 1200px;
  height: 750px;
  top: 22px;
  left: 16px;
}

.trial .vector {
  position: absolute;
  width: 173px;
  height: 216px;
  top: 0;
  left: 0;
}

.trial .img {
  position: absolute;
  width: 180px;
  height: 239px;
  top: 2px;
  left: 1055px;
}

.trial .group {
  position: absolute;
  width: 248px;
  height: 469px;
  top: 203px;
  left: 117px;
  background-color: #85a6f940;
  border-radius: 60px;
}

.trial .schere-comp {
  position: absolute;
  width: 196px;
  height: 80px;
  top: 38px;
  left: 26px;
  background-color: #85a6f9;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .overlap-group {
  position: absolute;
  width: 95px;
  height: 69px;
  top: 7px;
  left: 82px;
}

.trial .vector-2 {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 34px;
  left: 40px;
}

.trial .group-2 {
  position: absolute;
  width: 85px;
  height: 32px;
  top: 37px;
  left: 10px;
}

.trial .text-wrapper {
  position: absolute;
  top: 0;
  left: 36px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #fffbf2;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trial .text-wrapper-2 {
  position: absolute;
  top: 18px;
  left: 0;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #fffbf2;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.trial .text-wrapper-3 {
  position: absolute;
  width: 93px;
  top: 0;
  left: 0;
  font-family: "Rock Salt", Helvetica;
  font-weight: 400;
  color: #fffbf2;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.9px;
  line-height: normal;
}

.trial .overlap-group-wrapper {
  position: absolute;
  width: 68px;
  height: 87px;
  top: -5px;
  left: 8px;
  transform: rotate(122.08deg);
}

.trial .overlap-group-2 {
  position: relative;
  width: 119px;
  height: 124px;
  top: -23px;
  left: -27px;
}

.trial .group-3 {
  position: absolute;
  width: 95px;
  height: 80px;
  top: 22px;
  left: 12px;
  transform: rotate(-122.08deg);
}

.trial .vector-3 {
  position: absolute;
  width: 24px;
  height: 29px;
  top: 53px;
  left: 61px;
  transform: rotate(-122.08deg);
}

.trial .group-4 {
  position: absolute;
  width: 10px;
  height: 18px;
  top: 67px;
  left: 75px;
}

.trial .subtract-2 {
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  left: 0;
  transform: rotate(-122.08deg);
}

.trial .subtract-3 {
  position: absolute;
  width: 10px;
  height: 8px;
  top: 9px;
  left: 0;
  transform: rotate(-122.08deg);
}

.trial .vector-4 {
  position: absolute;
  width: 8px;
  height: 3px;
  top: 54px;
  left: 64px;
  transform: rotate(-122.08deg);
}

.trial .vector-5 {
  position: absolute;
  width: 2px;
  height: 16px;
  top: 51px;
  left: 56px;
  transform: rotate(-122.08deg);
}

.trial .stein-comp {
  position: absolute;
  width: 196px;
  height: 80px;
  top: 144px;
  left: 26px;
  background-color: #85a6f9;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .papier-comp {
  position: absolute;
  width: 196px;
  height: 80px;
  top: 252px;
  left: 26px;
  background-color: #85a6f9;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .overlap-wrapper {
  position: absolute;
  width: 347px;
  height: 469px;
  top: 203px;
  left: 395px;
}

.trial .overlap-2 {
  position: relative;
  width: 345px;
  height: 469px;
  background-color: #03b58a1a;
  border-radius: 60px;
}

.trial .overlap-group-3 {
  position: absolute;
  width: 345px;
  height: 59px;
  top: 0;
  left: 0;
}

.trial .rectangle {
  height: 55px;
  top: 0;
  position: absolute;
  width: 345px;
  left: 0;
}

.trial .text-wrapper-4 {
  position: absolute;
  width: 32px;
  top: 6px;
  left: 156px;
  font-family: "Rock Salt", Helvetica;
  font-weight: 400;
  color: #303030;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
}

.trial .vector-wrapper {
  position: absolute;
  width: 345px;
  height: 229px;
  top: 97px;
  left: 0;
  background-color: #03b58a33;
}

.trial .vector-6 {
  position: absolute;
  width: 157px;
  height: 110px;
  top: 61px;
  left: 94px;
}

.trial .ellipse {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 358px;
  left: 136px;
  background-color: #03b58a33;
  border-radius: 36px;
}

.trial .div-wrapper {
  position: absolute;
  width: 347px;
  height: 469px;
  top: 203px;
  left: 770px;
}

.trial .overlap-3 {
  position: relative;
  width: 345px;
  height: 469px;
  background-color: #fe59001a;
  border-radius: 60px;
}

.trial .rectangle-2 {
  height: 229px;
  top: 97px;
  background-color: #fe590033;
  position: absolute;
  width: 345px;
  left: 0;
}

.trial .overlap-group-4 {
  position: absolute;
  width: 345px;
  height: 55px;
  top: 2px;
  left: 0;
  background-image: url(https://c.animaapp.com/JJxqcGU2/img/rectangle-19.svg);
  background-size: 100% 100%;
}

.trial .text-wrapper-5 {
  position: absolute;
  width: 247px;
  top: 2px;
  left: 49px;
  font-family: "Rock Salt", Helvetica;
  font-weight: 400;
  color: #303030;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
}

.trial .ellipse-2 {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 358px;
  left: 146px;
  background-color: #fe590033;
  border-radius: 36px;
}

.trial .rectangle-3 {
  position: absolute;
  width: 585px;
  height: 82px;
  top: 102px;
  left: 208px;
  background-color: #fec94440;
  border-radius: 60px;
}

.trial .w-hle-eine-klasse {
  position: absolute;
  top: 123px;
  left: 250px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #303030;
  font-size: 16px;
  letter-spacing: 2.56px;
  line-height: normal;
}

.trial .tipps {
  position: absolute;
  width: 56px;
  height: 94px;
  top: 102px;
  left: 858px;
}

.trial .overlap-4 {
  position: relative;
  height: 93px;
}

.trial .ellipse-3 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #303030;
  border-radius: 28px;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .text-wrapper-6 {
  position: absolute;
  top: 55px;
  left: 0;
  font-family: "Rock Salt", Helvetica;
  font-weight: 400;
  color: #303030;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  line-height: normal;
}

.trial .tutorial {
  position: absolute;
  width: 89px;
  height: 94px;
  top: 102px;
  left: 936px;
}

.trial .ellipse-4 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 16px;
  background-color: #303030;
  border-radius: 28px;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .trainiere {
  position: absolute;
  width: 196px;
  height: 80px;
  top: 563px;
  left: 143px;
  background-color: #27476e;
  border-radius: 35px;
  box-shadow: 0px 4px 4px #00000040;
}

.trial .text-wrapper-7 {
  position: absolute;
  width: 124px;
  top: 13px;
  left: 36px;
  font-family: "Rock Salt", Helvetica;
  font-weight: 400;
  color: #fffbf2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
}

.trial .vector-7 {
  position: absolute;
  width: 169px;
  height: 129px;
  top: 674px;
  left: 547px;
}

.trial .group-5 {
  position: absolute;
  width: 412px;
  height: 485px;
  top: -17235px;
  left: -24639px;
  background-image: url(https://c.animaapp.com/JJxqcGU2/img/group-6-3@2x.png);
  background-size: 100% 100%;
}

.trial .overlap-group-5 {
  position: absolute;
  width: 159px;
  height: 138px;
  top: -16558px;
  left: -24975px;
}

.trial .vector-8 {
  position: absolute;
  width: 103px;
  height: 138px;
  top: 0;
  left: 56px;
}

.trial .vector-9 {
  position: absolute;
  width: 34px;
  height: 27px;
  top: 103px;
  left: 69px;
}

.trial .vector-10 {
  position: absolute;
  width: 60px;
  height: 49px;
  top: 74px;
  left: 0;
}

.trial .group-6 {
  position: absolute;
  width: 52px;
  height: 99px;
  top: 250px;
  left: 251px;
}

.trial .subtract-4 {
  position: absolute;
  width: 19px;
  height: 24px;
  top: -16674px;
  left: -25099px;
}

.trial .subtract-5 {
  position: absolute;
  width: 29px;
  height: 63px;
  top: -16749px;
  left: -25076px;
}

.trial .group-7 {
  position: absolute;
  width: 531px;
  height: 439px;
  top: -16001px;
  left: -25100px;
}

.trial .group-8 {
  position: absolute;
  width: 121px;
  height: 1px;
  top: 831px;
  left: 1159px;
}
